/* TODO: use variables for all colors and sizes in styling */

.about-me-section-container {
  text-align: left;
  width: 315px;
  margin: 20px 0;
}

.video-games-section-container {
  text-align: left;
  width: 310px;
  margin: 10px 0;
}

.about-me-section-img {
  display: inline-block;
  position: absolute;
  /* controls the size of the image */
  height: 55px;
}

.about-me-section-content {
  display: inline-block;
  margin-left: 70px;
  font-family: AvenirNext-Regular;
  font-size: 18px;
  color: rgba(80, 80, 80, 0.88);
  line-height: 22px;
}

.gamepad {
  margin-top: 14px;
  height: 32px;
}
